<div class="brand">EnqueteWeb</div>
<div class="address-bar">Engenharia de Software - 2015.2 - UFRJ</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Business Casual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/info">Informações</a>
                </li>
                <li>
                    <a href="/contato">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Sobre
                    <strong>EnqueteWeb</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="img/slide-2.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>O objetivo geral do <i>EnqueteWeb</i> é permitir a aproximação da organização com o seu público-alvo por meio de uma plataforma Web, de fácil utilização e integrada com redes sociais, onde uma enquete por vez é realizada.</p>
                <p>Este projeto é o resultado final da discipina de Engenharia de Software oferecida na UFRJ no período 2015.2</p>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Nossa
                    <strong>Equipe</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="img/diego.jpg" alt="">
                <h4>Diego Cruz</h4>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="img/patricia.jpg" alt="">
                <h4>Patrícia Kovaleski</h4>
            </div>
            <div class="col-sm-3 text-center">
                <img class="img-responsive" src="img/victor.jpg" alt="">
                <h4>Victor Cardoso</h4>
            </div>
             <div class="col-sm-3 text-center">
                <img class="img-responsive" src="img/vinicius.jpg" alt="">
                <h4>Vinícius Campos</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4><small>UFRJ - Engenharia de Software 2015.2
                    <br>
                 <b>Grupo I : </b>Diego Cruz, Patrícia Kovaleski, Victor Cardoso e Vinícius Campos </small></h4>
            </div>
        </div>
    </div>
</footer>